/* TeamSection.module.css */

.container{
    display: flex;
}
.homeContainer {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
   
  }
  
  .profileCard {
    position: relative;
    width: 220px;
    height: 220px;
    background-color: #333;
    padding: 30px;
    border-radius: 50%;
  
    transition: all 0.4s;
    margin: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    cursor: pointer;
   
  }
  
  .profileCard:hover {
    border-radius: 10px;
    height: 260px;
  }
  
  .img {
    position: relative;
    width: 100px;
    height: 100px;
   
  }
  
  .img img {
    object-fit: fill;
    width: 100;
    border-radius: 50%;
    transition: all 0.4s;
    z-index: 99;
  }
  
  .profileCard:hover img {
    border-radius: 10px;
    transform: translateY(-100px);
  }
  
  .caption {
    text-align: center;
    transform: translateY(-50px);
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s;
  }
  
  .profileCard:hover .caption {
    opacity: 1;
    pointer-events: all;
  }
  
  .caption h3 {
    font-size: 21px;
    color: #0c52a1;
    font-weight: 600;
  }
  
  .caption p {
    font-size: 15px;
    font-weight: 500;
    margin: 2px 0 12px 0;
  }
  
  .caption .social-links i {
    font-size: 21px;
    margin: 0 3px;
    cursor: pointer;
    color: #333;
    transition: all 0.4s;
  }
  
  .caption .social-links i:hover {
    color: #0c52a1;
  }
  