.container {
}
.catTitle {
  color: #53c28b;
}

.item {
  display: flex;
  gap: 50px;
  margin-top: 50px;
  margin-bottom: 100px;
}

.item:nth-child(2n + 1) {
  flex-direction: row-reverse;
}

.imgContainer {
  flex: 1;
  height: 500px;
  position: relative;
  margin-top: 50 px;
}

.img {
  object-fit: cover; 
  width: 7cm;
  height: 7cm;
}


.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
}

.title {
  font-size: 50px;
  font-weight: bold;
}

.desc {
  font-size: 20px;
  text-align: justify;
  text-justify: inter-word;
}
.containerbtn {
  display: flex;
}
.Button {
  display: flex;
  flex-grow: 1;
  align-items: center;
  margin-right: 20px;
  margin-top: 10px;
  margin-bottom: 10px; /* Menambahkan jarak 10px di bawah tombol */
  padding: 15px 15px;
}

.scanQrButton {
  display: flex;
  background-color: #007bff; /* Warna latar belakang tombol */
  color: #fff; /* Warna teks tombol */
  padding: 20px 20px; /* Padding tombol (sesuaikan sesuai kebutuhan Anda) */
  border: none; /* Hapus garis tepi tombol */
  border-radius: 5px; /* Sudut melengkung tombol */
  cursor: pointer; /* Ubah kursor saat mengarahkan ke tombol */
  font-size: 16px; /* Ukuran teks tombol (sesuaikan sesuai kebutuhan Anda) */
  margin: 10px;
}

.scanTI {
  display: flex;
  background-color: #5b1467; /* Warna latar belakang tombol */
  color: #fff; /* Warna teks tombol */
  padding: 20px 20px; /* Padding tombol (sesuaikan sesuai kebutuhan Anda) */
  border: none; /* Hapus garis tepi tombol */
  border-radius: 5px; /* Sudut melengkung tombol */
  cursor: pointer; /* Ubah kursor saat mengarahkan ke tombol */
  font-size: 16px; /* Ukuran teks tombol (sesuaikan sesuai kebutuhan Anda) */
}


/* ... (kode CSS lainnya) */
