  .container {
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background: transparent;
    backdrop-filter: blur(10px);
    z-index: 100;
  }
  .containernavblur {
  }
  .containerlogo {
    display: flex;
    flex-wrap: wrap;
    z-index: 10;
  }
  .logo {
    font-weight: bold;
    font-size: 40px;
    z-index: 10;
    color: #e40000;
  }
  .logo2 {
    font-size: 25px;
    font-weight: bolder;
    z-index: 10;
    color: white;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
    margin-top: 17px;
  }

  .links {
    display: flex;
    align-items: center;
    gap: 20px;
    z-index: 10;
    font-size: larger;
  }
  .links a:hover {
    color: #e40000;
    border-bottom: black;
  }

  .submenu {
    position: relative;
    cursor: pointer;
  }

  .linkTitle {
    cursor: pointer;
  }

  .submenuContent {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--menu-bg-color, #778899);
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  }

  .submenu:hover .submenuContent {
    overflow: +10;
    display: block;
  }

  .submenuItem {
    padding: 10px;
    display: block;
    text-decoration: none;
    color: var(--menu-text-color, #fff);
  }

  .submenuItem:hover {
    background-color: var(--menu-hover-color, #555);
  }
  .fixedNavbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
  }
  .currentTime {
    justify-content: space-between;
  }
