/* Default CSS yang berlaku untuk keduanya */
.container {
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-bottom: 2px solid var(--border-color, #e40000); 
}


.logo {
  font-weight: bold;
  font-size: 27px;
  z-index: 10;
}

.links {
  display: flex;
  align-items: center;
  gap: 20px;
  z-index: 10;
  font-size: larger;
}
.links a:hover {
  color: #e40000; 
  border-bottom: black;
}

.submenu {
  position: relative;
  cursor: pointer;
}

.linkTitle {
  cursor: pointer;
}

.submenuContent {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: var(--menu-bg-color, #333);
  z-index: 1;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.submenu:hover .submenuContent {
  display: block;
}

.submenuItem {
  padding: 10px;
  display: block;
  text-decoration: none;
  color: var(--menu-text-color, #fff); 
}

.submenuItem:hover {
  background-color: var(--menu-hover-color, #555); 
}
.fixedNavbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0; 
  z-index: 100; 
  
}
.currentTime{
  justify-content: space-between;


}