.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; 
    height: 900px;
    overflow: hidden;
    
  }

  .konten{
    height: auto;
  }
  
  .title {
    font-size: 50px;
    text-align: center;
    font-weight: bold;
    margin-top: 75px; /* Menggeser judul ke atas */
    margin-bottom: 20px; /* Mengurangi jarak bawah judul */
  }
  
  .backgroundContainer {
    max-width: none;
    width: 100%;
    margin: 0;
    padding: 20px;
    background-color: #474747;
    border-radius: 5px;
    margin-top: 100px;
  }
  
  .backgroundContainer h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .content {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px; /* Menambahkan jarak atas konten */
  }
  
  .content p {
    flex: 1;
  }
  
  .content img {
    max-width: 100%;
    height: auto;
    margin-left: 20px;
  }
  
  
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.content {
  animation: fadeInUp 1s ease 0.5s both; /* Animasi fadeIn saat scroll */
}