html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  min-height: 100vh;
  display: fluid;
  justify-content: center;
  align-items: center;
}

.block {
  display: flex;
  flex-direction: column;
}

.name {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.container {
  font-size: 1.3rem;
  border-radius: 10px;
  width: 85%;
  padding: 0px;
}

.container input {
  font-size: 1.2rem;
  margin: 10px 0 10px 0px;
  border-color: rgb(31, 28, 28);
  padding: 10px;
  border-radius: 0 30px 0 30px;
  background-color: lightslategray;
  z-index: 1;
}

.container textarea {
  margin: 10px 0 10px 0px;
  padding: 5px;
  border-color: rgb(31, 28, 28);
  border-radius: 0 50px 0 50px;
  font-size: 20px;
  background-color: lightslategray;
  z-index: 1;
}

.container h1 {
  text-align: center;
  font-weight: 600;
}

.name div {
  display: flex;
  flex-direction: column;
}

.block button {
  padding: 10px;
  font-size: 20px;
  width: 30%;
  border: 3px solid lightslategray;
  border-radius: 30px;
  border-radius: 0 30px 0 30px;
  z-index: 1;
}

.button {
  margin-top: 20px;
  display: flex;
  align-items: center;
}

textarea {
  resize: none;
}

.icon {
  display: flex;
  padding: 10px;
  flex-direction: row;
  justify-content: space-between;
}

.row-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: row;
  list-style: none;
  padding: 5px;
  margin-top: 30px;
}

.row-list li {
  padding: 20px;
  border-radius: 0 30px 0 30px;
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
  margin-left: 100px;
  margin-right: 100px;
  background-color: lightslategray;
}

.kekanandikit {
  margin-top: 30px;
  width: 100%;
  border-radius: 0 50px 0 50px;
  padding: 30px;
  background-color: lightslategray;
}
.map {
  position: relative;
  border-radius: 0 30px 0 30px;
  overflow: hidden;
}
